<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.sakura.mybatisgenerator.mapper.manual.ICoffeeMapper">

    <resultMap id="coffeeMap" type="Coffee">
        <id column="id" property="id"/>
        <id column="name" property="name"/>
        <id column="price" property="price"/>
        <id column="create_time" property="createTime"/>
        <id column="update_time" property="updateTime"/>
    </resultMap>

    <sql id="coffeeInfo">
        id, name, price, create_time, update_time
    </sql>

    <sql id="Example_Where_Clause">
        <where>
            <foreach collection="oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" prefixOverrides="and" suffix=")">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                        <foreach collection="criteria.priceCriteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value,typeHandler=com.sakura.mybatisgenerator.handler.MoneyTypeHandler}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value,typeHandler=com.sakura.mybatisgenerator.handler.MoneyTypeHandler} and #{criterion.secondValue,typeHandler=com.sakura.mybatisgenerator.handler.MoneyTypeHandler}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                                        #{listItem,typeHandler=com.sakura.mybatisgenerator.handler.MoneyTypeHandler}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>


    <insert id="insert" parameterType="Coffee">
        INSERT INTO
            T_COFFEE (name, price, create_time, update_time)
        VALUES (#{name}, #{price}, now(), now())
    </insert>

    <select id="selectById" parameterType="java.lang.Long" resultMap="coffeeMap">
        SELECT
            <include refid="coffeeInfo"/>
        FROM T_COFFEE
            WHERE id = #{id}
    </select>

    <select id="selectByExample" parameterType="CoffeeExample" resultMap="coffeeMap">
        select
        <if test="distinct">
            distinct
        </if>
        <include refid="coffeeInfo" />
        from T_COFFEE
        <if test="_parameter != null">
            <include refid="Example_Where_Clause" />
        </if>
        <if test="orderByClause != null">
            order by ${orderByClause}
        </if>
    </select>

</mapper>